@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'Segoe UI';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}

@keyframes progress {
    to {
        background-color: rgb(20, 255, 226);
        width: 100%;
    }
}

/************SIDEBAR***************/
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #b8c1ec;
    border-radius: 0 20px 20px 0;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn{
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: #232946;
    border-left: 3px solid #eebbc3;
}

.sidebar-item {
    position: relative;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/************MAIN CONTENT*************/
.user_container {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 5px;
}

.user_container .user_form{
    margin: 5% auto;
    background: #fff;
    padding: 20px;
    width: 45%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.user_form i {
    font-size: 15px;
}

.user_form img {
    display: block;
    margin: 0 auto;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    
}

.user_form h4, h3, p {
    margin: 6px 0;
}

.user_container .user_form .row {
    margin: 8px 0;
}

.user_container .user_form .col {
    margin-bottom: 8px;
}

/**********EDIT USER PROFILE**********/
.edit_user {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 5px;
}

.edit_user .edit_user_form{
    margin: 5% auto;
    background: #fff;
    padding: 20px;
    width: 50%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.edit_user .edit_user_form img {
    display: block;
    margin: 6px auto;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
}

.edit_user .edit_user_form h4, h3, p {
    margin: 6px 0;
}

.edit_user .edit_user_form .row {
    margin: 8px 0;
}

.edit_user .edit_user_form .col {
    margin-bottom: 8px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    #sidebar {
        width: 10%;
        min-width: 50px;
    }
    #sidebar.expand {
        width: 50%;
        min-width: 250px;
    }

    .user_container, .edit_user {
        width: 90%;
    }
    .user_container .user_form,  .edit_user .edit_user_form{
        width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    #sidebar {
      width: 20%;
      min-width: 50px;
    }
    #sidebar.expand {
      width: 60%;
      min-width: 180px;
    }
    .user_container, .edit_user{
      width: 100%;
    }
    .user_container .user_form, .edit_user .edit_user_form {
      width: 100%;
    }
  }
